<% provide :pre_title, t("console-nav.comment") + ' | ' + t("console") %>
<% provide :bodyclass, "admin" %>
<% provide :index, '5' %>

<div id="users">
  <div class="boxed-group">
    <%= content_tag :h3, t("console-nav.comment") %>
    <div class="boxed-group-inner">

      <ul class="nav nav-tabs">
        <%= content_tag :li, link_to(t("c-summary.total"), admin_comments_path), class: "#{'active' if @value == 1 }" %>

        <%= content_tag :li, link_to(t("c-summary.posted"), admin_comments_path(by: 'posted')), class: "#{'active' if @value == 2 }" %>

        <%= content_tag :li, link_to(t("c-summary.deleting"), admin_comments_path(by: 'deleting')), class: "#{'active' if @value == 3 }" %>

        <%= content_tag :a, class: 'pull-right', href: new_admin_comment_path, title: t('c-summary.comment.new') do -%>
          <%= content_tag :span, '', class: 'glyphicon glyphicon-plus' %>
        <% end -%>
      </ul>

      <div id="body-content">   
        <%= render 'comments_table', comments: @comments %>
        <%= will_paginate @comments, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
      </div>

    </div>
  </div>
</div>

<%= render 'admin/features/confirm_delete_dialog' %>

<script>
  $("#body-content").on("click", "#to-delete", function(){
      text = $(this).attr("value");
      text = "<%= j t('ask.comment_delete.pre') %>" + text + "<%= j t('ask.comment_delete.suf') %>";
      $("#confirm-delete .modal-body").html(text);
      $("#confirm-delete #confirm").attr('href', $(this).attr('href'));
      $("#confirm-delete").modal();
      return false;
  });
</script>