<% provide :bodyclass, 'edit-post' %>
<%=  render 'shared/flash_messages_jscall' %>
<%= content_tag :span, @article.id, style: 'display: none;', id: 'article-id' %>
<div class="mainer">
    <div class="container-fluid">
        <div class="col-md-9 col-lg-9 col-center-block content-wrap">
            <div class="edit-post">
                <%= simple_form_for @article, remote: true do |f| %>
                <div class="edit-header">
                    <!-- 文章标题-->
                    <div class="post-title">
                        <div class="form-group">
                            <%= f.input_field :title, class: "form-input", id: "title-input", placeholder: t("article.title_tips"), maxlength: "50" %>
                        </div>
                    </div>
                    <!-- 文章分类-->
                    <%= f.input_field :category_id, class: "form-input", id: 'post-selected-category-input', type: "hidden", value: @category.id %>
                    <div class="dropdown post-category">
                        <%= t "article.category" %>：
                        <span data-toggle="dropdown" role="button" id="categories-dropdown">
                            <%= category_selected_tag @category, id: "post-selected-category" %>
                            <%= content_tag :span, '', class: "caret" %>
                        </span>
                        <%= render 'features/categories' %>
                    </div>
                </div>
                <!-- 编辑框部分 -->
                <!-- 编辑区节点使用类edit-body-node标识,其中preivew-node/edit-node来区分编辑或预览部分 -->
                <div class="edit-body">
                    <!-- 标签卡与工具栏 -->
                    <div class="edit-body-header">
                        <div class="post-edit-toolbar pull-right">
                            <%= render 'features/markdown_toolbar' %>
                        </div>
                        <ul class="nav nav-tabs" id="edit-tabs">
                            <%= content_tag :li, link_to(t("article.edit"), '#edit-content', class: 'edit-body-node edit-node', 'data-toggle': 'tab'), class: 'active' %>
                            <%= content_tag :li, link_to(t("article.preview"), '#preview-content', class: 'edit-body-node preview-node', 'data-toggle': 'tab') %>                            
                        </ul>
                    </div>
                    <!-- 编辑/预览区 -->
                    <div class="tab-content edit-body-cotent" id="tab-content">
                        <div class="tab-pane fade in active" id="edit-content">
                            <%= f.input_field :content, as: :text, class: 'tabIndent edit-body-node edit-node', id: 'editor' %>
                            <%= f.input_field :content_html, as: :hidden, id: 'content_html', disable: true %>
                        </div>
                        <div class="tab-pane fade" id="preview-content">
                            <%= content_tag :div, '', class: 'edit-body-node preview-node standard markdown-body', id: 'previewer' %>
                        </div>
                    </div>
                </div>
                <!-- 标签选择与提交 -->
                <div class="edit-footer">
                    <!-- 填如标签,最多5个标签 -->
                    <div class="form-group tabs-input">
                        <%= f.input_field :tagstr, class: "form-input", id: "tag-input", placeholder: t("article.tag_tips") %>
                        <%= content_tag :span, t("article.tag")+" :" %>
                    </div>
                    <!-- 提交按钮 -->
                    <div class="form-group post-btns">
                        <%= f.button :submit, t("article.save"), class: 'save-btn', name: "article[save]", onclick: 'set_content_html()' %>
                        <%= f.button :submit, yield(:rsubmit), class: 'post-btn', name: "article[post]", onclick: 'set_content_html()' %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<script>
    window.page = 'article';
</script>
<%= javascript_include_tag 'editor-markdown' %>
<%= javascript_include_tag 'category' %>
<%= javascript_include_tag 'holds' %>
