<% comment = notification.target %>
<%= content_tag :div do -%>
<%= t "notifications.in_article" %>&nbsp;
<%= link_to comment.article.title, main_app.article_path(comment.article.id), class: 'under-line' %>&nbsp;
<%= t "notifications.mention_me" %>
<div class="standard markdown-body">
  <%= markdown_comment_tag comment %>
</div>
<% end -%>