<!-- 导航栏 -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- 导航栏首部 -->
    <div class="navbar-header">
      <!-- Logo -->
      <%= link_to image_tag("logo.png", alt:"Milog", class: "logo"), root_path, class: "navbar-brand" %>
      <!-- 切换语系 -->
      <%= link_to_locale request.path, mclass: "navbar-text switch-lang" %>

      <!-- 屏幕<=420px时显示 -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- 操作菜单 -->
    <%= render 'shared/header_opt_menu' %>
    
    <!-- 主菜单项 -->
    <div class="collapse navbar-collapse" id="collapse-nav">
      <ul class="nav navbar-nav navbar-center main-nav">
        <%= content_tag :li, link_to(t("community.home"), community_index_path) %>
        <%= content_tag :li, link_to(t("community.hottest"), community_hottest_path) %>
        <%= content_tag :li, link_to(t("community.latest"), community_latest_path) %>
        <%= content_tag :li, link_to(t("search"), '#', id: 'search') %>
      </ul>
    </div>
  </div>
</nav>