<!-- 登录注册页面 -->
<div class="login">
	<!-- 语系切换 -->
	<div class="switch-lang"><%= link_to_locale yield(:login) %></div>
	<div class="clearfix"></div>

  <!-- login区块 -->
	<div class="container">
		 	<div class="col-md-3 col-center-block login-box">
		 			<div class="logo">
		 				<%=link_to image_tag("logo.png", alt:"Rails logo", class: "img-responsive center-block"), "/" %>
		 			</div>
					
					<h6></h6>
					
					<!-- login标签 -->
					<ul class="tab">
							<li class="signin">
									<%= link_to_login 'signin', 'under-line', yield(:login) %>
							</li>
							<li class="signup">
									<%= link_to_login 'signup', 'under-line', yield(:login) %>
							</li>
					</ul>
					<!-- 注册表单 -->
					<div id="signup-box" <%= show_or_hidden_login_div 'signup', yield(:login) %> >
							<div class="login-body">
						  	<%= render "shared/signup_form" %>
							</div>
					</div>

					<!-- 登录表单 -->
					<div id="signin-box" <%= show_or_hidden_login_div 'signin', yield(:login) %> >
							<div class="login-body">
								<%= render "shared/signin_form" %>
							</div>
					</div>
		 	</div>
	</div>
</div>

<%= javascript_include_tag 'login' %>