<!-- 注册表单 -->
<%= simple_form_for @user, url: signup_path do |f| %>
	<!-- 错误提示 -->
	<%= render "shared/login_error_messages", object: f.object %>
	<!-- 用户名 -->
	<div class="form-group form-group-icon">
		<%= f.input_field :username, placeholder: t("username"), class: "form-input name" %>
		<span class="glyphicon glyphicon-user icon"></span>
	</div>
	<!-- Email地址 -->
	<div class="form-group form-group-icon">
		<%= f.email_field :email, placeholder: t("email"), class: "form-input email" %>
		<span class="glyphicon glyphicon-envelope icon"></span>
	</div>
	<!-- 密码 -->
	<div class="form-group form-group-icon">
		<%= f.password_field :password, placeholder: t("password"), class: "form-input password" %>
		<span class="glyphicon glyphicon-lock icon"></span>
	</div>
	<!-- 提交 -->
	<div class="form-group">
		<%= f.button :submit, t("signup"), class: "btn btn-primary btn-block submit" %>
	</div>
<% end %>