<!-- 登录表单 -->
<%= simple_form_for :session, url: signin_path do |f| %>
<%= render "shared/form_error_messages", object: @user %>
<div class="form-group form-group-icon">
	<%= f.email_field :email, placeholder: t("email"), class: "form-input email" %>
	<span class="glyphicon glyphicon-envelope icon"></span>
</div>
<div class="form-group form-group-icon">
	<%= f.password_field :password, placeholder: t("password"), class: "form-input password" %>
	<span class="glyphicon glyphicon-lock icon"></span>
</div>
<div class="form-group">
	<%= f.button :submit, t("signin"), class: "btn btn-primary btn-block submit", id: "signin" %>
</div>
<div class="login-setting">
	<div class="checkbox">
		<span class="remember-me"><%= f.input_field :remember_me, as: :boolean, boolean_style: :inline %><%= t "login.remember_me" %></span>
	</div>
  <%= link_to t("login.forget_me"), accounts_passwords_forgot_path, class: "forget-me" %>
</div>
<% end %>