<% provide :pre_title, t("console-nav.tag") + ' | ' + t("console") %>
<% provide :bodyclass, "admin" %>
<% provide :index, '4' %>

<div id="users">
  <div class="boxed-group">
    <%= content_tag :h3, t("console-nav.tag") %>
    <div class="boxed-group-inner">

      <ul class="nav nav-tabs">
        <%= content_tag :li, link_to(t("c-summary.total"), admin_tags_path), class: "#{'active' if @value == 1 }" %>

        <%= content_tag :li, link_to(t("c-summary.used"), admin_tags_path(by: 'used')), class: "#{'active' if @value == 2 }" %>

        <%= content_tag :li, link_to(t("c-summary.not_use"), admin_tags_path(by: 'unused')), class: "#{'active' if @value == 3 }" %>

        <%= content_tag :a, class: 'pull-right', href: new_admin_tag_path, title: t('c-summary.tag.new') do -%>
          <%= content_tag :span, '', class: 'glyphicon glyphicon-plus' %>
        <% end -%>
      </ul>

      <div id="body-content">
        <%= render 'tags_table', tags: @tags %>
        <%= will_paginate @tags, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
      </div>

    </div>
  </div>
</div>

<%= render 'admin/features/confirm_delete_dialog' %>

<script>
  $("#body-content").on("click", "#to-delete", function(){
      text = $(this).attr("value");
      text = "<%= j t('ask.tag_delete.pre') %>" + text + "<%= j t('ask.tag_delete.suf') %>";
      $("#confirm-delete .modal-body").html(text);
      $("#confirm-delete #confirm").attr('href', $(this).attr('href'));
      $("#confirm-delete").modal();
      return false;
  });
</script>