<% provide :pre_title, t("community.latest") %>
<div class="mainer" style="margin-top: 0; padding-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="boxed-group">
          <div class="pull-right boxed-opts" id="order-opts">
            <%= t "community.opts" %>
            <%= link_to t("community.time"), community_latest_path(order: 'time'), remote: true, class: "#{'under-line' if @opt == CommunityController::ORDER_TIME}", 'data-order'=> 'time' %> / 
            <%= link_to t("community.view"), community_latest_path(order: 'view'), remote: true, class: "#{'under-line' if @opt == CommunityController::ORDER_VIEW}", 'data-order'=> 'view' %> /  
            <%= link_to t("community.comment"), community_latest_path(order: 'comment') , remote: true,  class: "#{'under-line' if @opt == CommunityController::ORDER_COMMENT}", 'data-order'=> 'comment' %>         
          </div>
          <%= content_tag :h3, t("community.latest") %>
          <div class="boxed-group-inner">
            <div class="post-group" id="post-group-content">
              <%= render 'community/articles', articles: @articles %>
            </div>
          </div>
            <div id="post-group-paginate">
              <%= will_paginate @articles, renderer: WillPaginate::ActionView::BlogLinkRenderer unless @articles.blank? %>
            </div>
        </div>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <div class="boxed-group">
          <%= content_tag :h3, t("community.statistics") %>
          <div class="boxed-group-inner">
            <ul class="list-group">
              <%= content_tag :li, link_to(t("community.latest_today", num: @articles_today_size), community_articles_path(by: :latest_today)) %>
              <%= content_tag :li, link_to(t("community.latest_tweek", num: @articles_curweek_size), community_articles_path(by: :latest_tweek)) %>
              <%= content_tag :li, link_to(t("community.latest_tmonth", num: @articles_curmonth_size), community_articles_path(by: :latest_tmonth)) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>