<% provide :pre_title, t("forgot_password") %>
<div class="forgot">
  <!-- 语系切换 -->
  <div class="switch-lang"><%= link_to_locale request.path %></div>
  <div class="clearfix"></div>

  <div class="container">
    <div class="col-md-3 col-center-block forgot-box">
      <div class="logo">
        <%=link_to image_tag("logo.png", alt:"Rails logo", class: "img-responsive center-block"), "/" %>
      </div>
      <h6></h6>

      <ul class="tab">
        <li><span class="under-line"><%= t "forgot_password" %></span></li>
      </ul>

      <div id="forgot-box">
        <div class="login-body">
          <%= simple_form_for :forgot, url: accounts_passwords_forgot_path do |f| %>
            <%= render "shared/form_error_messages", object: @user %>
            <div class="form-group form-group-icon">
              <%= f.email_field :email, placeholder: t("email"), class: "form-input email" %>
              <span class="glyphicon glyphicon-envelope icon"></span>
            </div>
            <div class="form-group">
              <%= f.button :submit, t("send_psw_reset_link"), class: "btn btn-primary btn-block submit", id: "forgot_password" %>
            </div>
          <% end %>
        </div>
        <div class="login-footer"><%= t "send_psw_reset_tips" %></div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'login' %>